
<div class="promo-column w-1/2 p-4 bg-gray-100">
  <h3 class="single-promo__heading">Product Category 1</h3>
  <select class="w-full mb-6">
    <option value="product-1">
      Product 1
    </option>
    <option value="product-2">
      Product 2
    </option>
    <option value="product-3">
      Product 3
    </option>
  </select>
  <h3 class="single-promo__heading">Product Category 2</h3>
  <select class="w-full mb-6">
    <option value="product-1">
      Product 1
    </option>
    <option value="product-2">
      Product 2
    </option>
    <option value="product-3">
      Product 3
    </option>
  </select>
</div>
<div class="promo-column w-1/2 p-4 bg-gray-100">
  <h3 class="single-promo__heading">Product Category 3</h3>
  <select class="w-full mb-6">
    <option value="product-1">
      Product 1
    </option>
    <option value="product-2">
      Product 2
    </option>
    <option value="product-3">
      Product 3
    </option>
  </select>
  <h3 class="single-promo__heading">Product Category 4</h3>
  <select class="w-full mb-6">
    <option value="product-1">
      Product 1
    </option>
    <option value="product-2">
      Product 2
    </option>
    <option value="product-3">
      Product 3
    </option>
  </select>
</div>
