<section class="modal new-task">
  <header class="modal__header">
      <p class="modal__heading">Usuń</p>
      <div class="modal__action">
          <button class="btn modal-close" (click)="closeModal()">
              <i class="icon icon--close"></i>
          </button>
      </div>
  </header>
  <main class="modal__main">
      <p class="text-center">
        Czy na pewno chcesz usunąć daną promocję ?
      </p>
  </main>
  <footer class="modal__footer flex justify-center ">
    <div class="buttons-wrap flex justify-between align-center w-full w-32">
      <button
        (click)="onDelete()"
        type="button"
        class="add-btn text-white bg-[#9f0927] hover:bg-[#870620] focus:ring-4 focus:outline-none focus:ring-[#9f0927]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#9f0927]/80 dark:focus:ring-[#9f0927]/40 mr-2 mb-2">
        Tak
      </button>
      <button
        (click)="closeModal()"
        type="button"
        class="add-btn text-white bg-[#8f8f8f] hover:bg-[#870620] focus:ring-4 focus:outline-none focus:ring-[#8f8f8f]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#8f8f8f]/80 dark:focus:ring-[#8f8f8f]/40 mr-2 mb-2">
        Nie
      </button>
    </div>
  </footer>
</section>
