$white: #ffffff;
$black: #000000;
$heading: #484F5C;

$grey: #6e7a90;



$blue: #aec0ff;
$purple: #f3e7f8;
$pink: #ffc9d9;
$red: #ffa694;
$green: #94efcc;
$yellow: #fee28c;



$blueStrong: #aabeff;
$purpleStrong: #e7c5f6;
$pinkStrong: #ffc7d8;
$violetStong: #e9c7fa;
$redStrong: #ffa38f;
$greenStrong: #8eefca;
$yellowStrong: #fde38a;


$blueStrongDark: #718fff;
$purpleStrongDark: #a871c2;
$redStrongDark: #ff8263;
$yellowStrongDark: #fdd751;
$greenStrongDark: #42dea2;
$pinkStrongDark:  #fe94b4;




$mainText: #455964;
$secondText: #6e7a90;
$addText: #8b93a6;
$inputText: #adb3cd;
$accent: #269cf4;
$inputBg: #c6d7e7;
$secondary: #c8e2ef;


