.modal {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 100px;
  margin: auto;
  border-radius: 20px;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  z-index: 4;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  @include desktop-sm {
    max-width: 400px;
  }
  @include desktop-md {
    max-width: 400px;
  }
  @include mobile {
      width: 90%;
  }
  &::-webkit-scrollbar {
      width: 0;
  }
  &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
      background: #999;
      border-radius: 10px;
  }
  &__wrap {
      display: none;
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      z-index: 9999;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity 0.15s linear;
      &.show {
          opacity: 1;
          .modal {
              -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
          }
      }
  }
  &__header {
      background-color: #fff;
      align-items: center;
      border-bottom: 1px solid #ddd;
      padding: 30px;
      position: sticky;
      top: 0;
      z-index: 1;
  }
  &__heading {
      color: $mainText;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 0px;
      margin: 0;
      &--center {
          text-align: center;
      }
  }
  &__action {
      margin-left: auto;
  }

  &__main {
      padding: 30px 30px 0;
  }
  &__footer {
      padding: 20px 30px 30px;
  }
  &__description {
      margin: 40px 0 0;
  }
  &__section {
      margin: 40px 0 0;
  }
  &__section-name {
      display: flex;
      align-items: center;
  }
  &__half {
    margin: 20px 0 0;
      &:nth-child(1) {
          @include desktop-sm {
              padding-right: 20px;
          }
      }
      width: 50%;
      @include mobile {
          width: 100%;
      }
  }
  &-list {
      &__step {
          display: none;
          &.active {
              display: block;
          }
      }
  }
  &-close {
      background-color: transparent;
      border: none;
      position: absolute;
      right: 25px;
      top: 36px;
      width: 18px;
      height: 18px;
      opacity: 0.3;
      &:hover {
          background-color: transparent!important;
          opacity: 1;
      }
  }

&-task {
  border: 1px solid #ffffff;
  padding: 0 20px 20px;
  &-btn {
    color: $black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px dashed #f3f3f3;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

  }
}
.icon--info {
  width: 20px;
  height: 20px;
}
.select {
  margin: 0 0 10px;
}
}
