<div class="promo-column w-1/2 p-4 bg-gray-100">
  <h3 class="single-promo__heading">Description</h3>
  <input class="block mb-6" type="text" placeholder="Marketing name" (input)="onChange($event)">
  <input class="block mb-6" type="text" placeholder="Technical name" (input)="onChange($event)">
  <textarea class="block w-full h-40 mb-14" type="text" placeholder="Description" (input)="onChange($event)"></textarea>
  <h3 class="single-promo__heading">Catalog promotion tutorial</h3>
  <p>
    Proin nibh erat, commodo maximus leo vitae, interdum efficitur lectus. Morbi volutpat metus vitae lacus commodo, at dignissim ex consectetur. Maecenas venenatis tristique dictum. Morbi egestas ante vel massa accumsan, ut maximus nisl tempor. Vivamus et tellus id enim convallis efficitur vitae a ipsum. Ut sagittis purus sed nunc bibendum imperdiet. Praesent ac laoreet turpis. Donec arcu neque, commodo id est vitae, placerat consequat metus.
  </p>
  <p>
    Donec semper quam sed est mattis, vitae posuere odio posuere. Praesent sodales quam in dui semper scelerisque. Nulla quis ligula et ante lobortis semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris at lobortis augue, at lobortis sem. Maecenas ac tempus nibh. Duis faucibus porta purus, dignissim scelerisque nibh pharetra sit amet. In bibendum dolor ac neque finibus viverra.
  </p>
</div>
<div class="promo-column w-1/2 p-4 bg-gray-100">
  <h3 class="single-promo__heading">Conditions</h3>
  <select class="w-full mb-6">
    <option value="portal-1">
      Portal 1
    </option>
    <option value="portal-2">
      Portal 2
    </option>
    <option value="portal-3">
      Portal 3
    </option>
  </select>
  <select class="w-full mb-12">
    <option value="type-1">
      Type 1
    </option>
    <option value="type-2">
      Type 2
    </option>
    <option value="type-3">
      Type 3
    </option>
  </select>
  <h4 class="single-promo__subheading">Benefit amount</h4>
  <div class="flex items-center justify-between">
    <div class="my-4">
      <label for="start-date">
        Start Date
      </label>
      <input id="start-date" type="date" placeholder="Start date" value="">
    </div>
    <div>
      <label for="finish-date">
        Finish Date
      </label>
      <input id="finish-date" type="date" placeholder="Finish date" value="">
    </div>
  </div>
</div>
