<app-add-btn></app-add-btn>


<table class="promotions-table mt-4 mx-auto" id="makeEditable">
  <thead>
    <tr>
      <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">No.</th>
      <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">Nazwa</th>
      <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">1</td>
      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">34547e50-08c</td>
      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        <app-edit-btn></app-edit-btn>
        <app-delete-btn></app-delete-btn>
      </td>
    </tr>
    <tr class="success">
      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">2</td>
      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">2443147e50-08c</td>
      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        <app-edit-btn></app-edit-btn>
        <app-delete-btn></app-delete-btn>
      </td>
    </tr>
  </tbody>
</table>
