<form class="flex gap-1 h-full" [formGroup]="chooseProductsForm">
<div class="promo-column w-1/2 p-4 bg-gray-100">
  <h3 class="single-promo__heading">Product Category 1</h3>
  <select class="w-full mb-6" formControlName="product_1">
    <option value="product-a">
      Product A
    </option>
    <option value="product-b">
      Product B
    </option>
    <option value="product-c">
      Product C
    </option>
  </select>
  <h3 class="single-promo__heading">Product Category 2</h3>
  <select class="w-full mb-6" formControlName="product_2">
    <option value="product-d">
      Product D
    </option>
    <option value="product-e">
      Product E
    </option>
    <option value="product-f">
      Product F
    </option>
  </select>
</div>
<div class="promo-column w-1/2 p-4 bg-gray-100" >
  <h3 class="single-promo__heading">Product Category 3</h3>
  <select class="w-full mb-6" formControlName="product_3">
    <option value="product-g">
      Product G
    </option>
    <option value="product-h">
      Product H
    </option>
    <option value="product-i">
      Product I
    </option>
  </select>
  <h3 class="single-promo__heading">Product Category 4</h3>
  <select class="w-full mb-6" formControlName="product_4">
    <option value="product-j">
      Product J
    </option>
    <option value="product-k">
      Product K
    </option>
    <option value="product-l">
      Product L
    </option>
  </select>
</div>
</form>
